<div class="container mainpage">
  <div class="row text-center">
    <div class="left-panel">
      <div class="col-md-4" ng-repeat="board in boards">
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="thumbnail">
              <!-- <a ng-click="findById(board.idx)"><img src="https://source.unsplash.com/category/technology/1600x900" alt=""/></a> -->
              <a ng-click="findById(board.idx)"><img ng-src="images/pic{{$index+1}}.jpg" alt=""/></a>

            </div>
            <!-- a태그를 빼면 된다. -->
            <a ng-click="findById(board.idx)">
              <h3>{{board.title | contentCut:true:17:'...'}}</h3>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
