<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="http://www.youtube.com/embed/UOTOjA0ngmk" allowfullscreen=""></iframe>
                </div>
            </div>
            <div class="col-md-6">
                <h1>이번 주 선정</h1>
                <h2>서울 행
                    <small>&nbsp;</small>
                </h2>
                <p>전대미문의 재난이 대한민국을 덮친다! 정체불명의 바이러스가 전국으로 확산되고 대한민국 긴급재난경보령이 선포된 가운데, 열차에
                    몸을 실은 사람들은 단 하나의 안전한 도시 부산까지 살아가기 위한 치열한 사투를 벌이게 된다. 서울에서 부산까지의 거리 442KM
                    지키고 싶은, 지켜야만 하는 사람들의 극한의 사투!</p>
            </div>
        </div>
    </div>
</div>
<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="embed-responsive embed-responsive-4by3">
                    <iframe class="embed-responsive-item" src="http://www.youtube.com/embed/fHeSHWhocvg" allowfullscreen=""></iframe>
                </div>
                <h2>잭 리처: 네버 고 백</h2>
                <p>군사 스파이 혐의로 자신의 후임인 수잔 터너 소령이 체포되자 잭 리처만이 그녀의 무죄를 확신하고 탈출을 돕는다 사건의 진실을
                    파헤치던 중 관련된 사람들이 잇따라 살해 당하기 시작하고 잭 리처는 이 모든 사건의 배후에 누군가가 존재한다는 것을 알게 되는데...
                    비상한 두뇌, 타고난 직감, 본능적 액션의 ‘잭 리처’ 진실을 밝힐 때까지 그의 추격은 멈추지 않는다!</p>
            </div>
            <div class="col-md-4">
                <div class="embed-responsive embed-responsive-4by3">
                    <iframe class="embed-responsive-item" src="http://www.youtube.com/embed/eTtUOxt1D7k" allowfullscreen=""></iframe>
                </div>
                <h2>미씽: 사라진 여자</h2>
                <p>천사 같던 그녀의 새빨간 거짓말 그리고 거짓보다 더 무서운 진실 그녀를 찾아야만 한다. 이혼 후 육아와 생계를 혼자 책임져야
                    하는 워킹맘 지선은 헌신적으로 딸을 돌봐주는 보모 한매가 있어 늘 다행이라고 생각한다. 어느 날, 퇴근 후 집에 돌아온 지선은
                    보모 한매와 딸 다은이가 흔적도 없이 사라져 버린 것을 알게 된다. 지선은 뒤늦게 경찰과 가족에게 사실을 알리지만 아무도 그녀의
                    말을 믿지 않고, 오히려 양육권 소송 중 일으킨 자작극으로 의심한다.&nbsp;</p>
            </div>
            <div class="col-md-4">
                <div class="embed-responsive embed-responsive-4by3">
                    <iframe class="embed-responsive-item" src="http://www.youtube.com/embed/Wmhua89z_pw" allowfullscreen=""></iframe>
                </div>
                <h2>아수라</h2>
                <p>지옥 같은 세상, 살아남기 위해 싸우는 악인들의 전쟁 &lt;아수라&gt; 강력계 형사 한도경(정우성)은 이권과 성공을 위해
                    각종 범죄를 저지르는 악덕시장 박성배(황정민)의 뒷일을 처리해주는 대가로 돈을 받는다. 악에 계속 노출되는 사이, 말기 암 환자인
                    아내의 병원비를 핑계로 돈 되는 건 뭐든 하는 악인의 길로 들어서게 된 한도경. 그의 약점을 쥔 독종 검사 김차인(곽도원)과 검찰수사관
                    도창학(정만식)은 그를 협박하고 이용해 박성배의 비리와 범죄 혐의를 캐려 한다.</p>
            </div>
        </div>
    </div>
</div>
