
@media (max-width: 768px) {
  .signup {
      margin-top: 80px;
  }
}

@media (min-width: 768px) and (max-width: 1199px)  {
  .signup {
      margin-top: 100px;
      margin-bottom: 50px;
  }
}

@media (min-width: 1200px) {
  .signup {
      margin-top: 150px;
      margin-bottom: 75px;
  }
}

@media (max-width: 768px) {
  .login {
      margin-top: 80px;
  }
}

@media (min-width: 768px) and (max-width: 1199px)  {
  .login {
      margin-top: 100px;
      margin-bottom: 50px;
  }
}

@media (min-width: 1200px) {
  .login {
      margin-top: 150px;
      margin-bottom: 75px;
  }
}


.white {
  color: #000;
  background-color: #fff;
}

.btn-signup {
  color: #ffffff;
  -webkit-text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #2b4b90;
  *background-color: #133783;
  background-image: -moz-linear-gradient(top, #3b5998, #133783);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#3b5998), to(#133783));
  background-image: -webkit-linear-gradient(top, #3b5998, #133783);
  background-image: -o-linear-gradient(top, #3b5998, #133783);
  background-image: linear-gradient(to bottom, #3b5998, #133783);
  background-repeat: repeat-x;
  border-color: #133783 #133783 #091b40;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ff3b5998', endColorstr='#ff133783', GradientType=0);
  filter: progid: DXImageTransform.Microsoft.gradient(enabled=false);
}

.btn-signup:hover, .btn-signup:focus, .btn-signup:active, .btn-signup.active, .btn-signup.disabled, .btn-signup[disabled] {

  color: #ffffff;
  background-color: #133783 !important;
  *background-color: #102e6d !important;
}

.btn-signup:active, .btn-signup.active {
  background-color: #0d2456 \9 !important;
}
