<!-- Main Content -->
<div class="container boardlist">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
      <div ng-repeat="board in boards | orderBy: 'uploadDate':true ">
        <div class="post-preview">
          <a href="" ng-click="findById(board.idx)">
            <h2 class="post-title">
              {{board.title}}
            </h2>
            <h3 class="post-subtitle">
              <!-- Problems look mighty small from 150 miles up -->
              <!-- {{board.content | limitTo: 9 }} -->
              <div class="con_view">
                <element ng-bind-html="board.content | contentCut:true:200:'...'"></element>
              </div>
            </h3>
          </a>

          <p class="post-meta">
            조회수 :
            {{board.readCount}}
            <span class="line_bar" data-reactid=".0.1.0.0.0:$1.0.3.3.0">|</span>
            게시일 :
            {{board.uploadDate | date:'yyyy-MM-dd'}}</i>
          <span class="line_bar" data-reactid=".0.1.0.0.0:$1.0.3.3.0">|</span>
          <i class="fa fa-user" aria-hidden="true">
            {{board.email}}</i>
        </p>

      </div>
      <hr>
    </div>
  </div>
</div>
<div class="row text-center">
  <paging class="small" page="currentPage" page-size="pageSize" total="totalCount" paging-action="eventPage(page, pageSize, total)" show-prev-next="true" show-first-last="true"></paging>
</div>
</div>
