<!-- Post Content -->
<article class="board">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <span ng-hide="!hidden">
          <h2 class="post-title">
            {{title}}
          </h2>
        </span>
        <span ng-hide="hidden">
          <input type="text" ng-model="title" class="form-control" id="inputTitle" placeholder="Title">
        </span>
        <h6>
          조회수 :
          {{readCount}}
          &nbsp;&nbsp;&nbsp;
          게시일 : {{uploadDate | date:'yyyy-MM-dd'}}</i>
          &nbsp;&nbsp;&nbsp;
          <i class="fa fa-user" aria-hidden="true">
            {{email}}</i>
          <br/>
          <br/>
          <!-- to-do 본인일 때만 하도록 한다. email로 체크해도 된다.-->
          <span ng-hide="!isAuthor">
            <button class="btn btn-info btn-xs" ng-click="edit()" ng-hide="!hidden">edit</button>
            <button class="btn btn-danger btn-xs" ng-click="delete()" ng-hide="!hidden">delete</button>
            <button class="btn btn-success btn-xs" ng-click="save()" ng-hide="hidden">save</button>
          </span>
        </h6>
        <hr>
        <span ng-hide="!hidden">
          <div class="con_view">
            <element ng-bind-html="content"></element>
          </div>
        </span>
        <span ng-hide="hidden">
          <summernote ng-hide="hidden" height="400" ng-model="text" on-change="change(contents)" on-image-upload="imageUpload(files)" editable="editable" editor="editor"></summernote>
        </span>
        <hr/>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 con_view">
        Tag
        <h6>
          <div ng-repeat="tag in tags">
            {{tag.name}}
          </div>
        </h6>
        <hr/>
      </div>

    </div>

    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 con_view">
        Comment
        <div class="widget-area no-padding blank">
          <div class="status-upload">
            <form name="form" id="commentForm">
              <textarea placeholder="Add Comment" ng-model="commentContent"></textarea>
              <button class="btn btn-success green" ng-click="commentShare(form)">
                <i class="fa fa-share"></i>
                Share</button>
            </form>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 con_view">
        <div class="panel panel-white post">
          <div class="post-footer">
            <ul class="comments-list">
              <li class="comment" ng-repeat="comment in comments | orderBy: 'uploadDate':true ">
                <a class="pull-left" href="#">
                  <img class="avatar" src="http://bootdey.com/img/Content/user_3.jpg" alt="avatar">
                </a>
                <div class="comment-body">
                  <div class="comment-heading">
                    <h4 class="user">{{comment.email}}</h4>
                    <h5 class="time">{{comment.uploadDate | date:'yyyy-MM-dd HH:mm:ss'}}</h5>
                  </div>
                  <p>{{comment.content}}</p>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

  </div>
</article>
