<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>UNDER GROUND</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="bower_components/summernote/dist/summernote.css" />
    <!-- endbower -->

    <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.css"/>
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="styles/artist.css">
    <link rel="stylesheet" href="styles/login.css">
    <!-- endbuild -->

  </head>
  <body ng-app="appApp" ng-controller="IndexCtrl">
    <!--[if lte IE 8]> <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p> <![endif]-->

    <!-- <div class="navbar navbar-default navbar-static-top" id="navbar"> -->
    <div class="navbar navbar-default navbar-static-top" id="navbar">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-ex-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#/">UNDER GROUND CINEMA</a>
        </div>
        <div class="collapse navbar-collapse" id="navbar-ex-collapse">
          <ul class="nav navbar-nav navbar-right">
            <!-- <li class="active"> -->
            <li>
              <a href="#/">MAIN</a>
            </li>
            <li>
              <a href="#/movie">MOVIE</a>
            </li>
            <li>
              <a href="#/artist">ARTIST</a>
            </li>
            <li ng-hide="loginFlag">
              <a href="#/login">LOG IN</a>
            </li>
            <li ng-hide="!loginFlag">
              <a href="#/user">MY GROUND</a>
            </li>
            <li ng-hide="!loginFlag">
              <a href="" ng-click="logout()">LOGOUT</a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <!-- header -->
    <div ng-hide="currentPath !== '/'">
      <div class="section header">
        <div class="container">
          <div class="row">
            <div class="col-md-12 text-center">
              <div class="text-center well well-lg">
                <h1 class="text-center">
                  <b>UNDER GROUND CINEMA</b>
                </h1>
                <p class="text-center">
                  <br>나로 말하자면, 나는 내가 아무것도 모른다는 것만을 알 뿐이네.&nbsp;
                  <br>As for me, all I know is that I know nothing. &nbsp;
                  <br>By. 소크라테스</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- main -->
    <div class="container main-content-view" ng-class="!navCollapsed && 'in'" ng-click="navCollapsed=true">
      <div ng-view=""></div>
    </div>

    <footer class="section text-center">
      <div class="container">
        <div class="row">
          <div class="col-sm-6">
            <h1>UNDER GROUND CINEMA</h1>
            <p>본 콘텐츠의 저작권은 저작권자 또는 제공처에 있으며, 이를 무단 이용하는 경우&nbsp;
              <br>저작권법&nbsp;등에 따라 법적 책임을 질 수 있습니다.&nbsp;
              <br>Next Innovation Copyright © Next Innovation Corp. All&nbsp;Rights Reserved.</p>
          </div>
          <div class="col-sm-6 text-center">

            <div class="row">
              <div class="col-md-12 hidden-lg hidden-md hidden-sm text-center">
                <a href="#">
                  <i class="fa fa-3x fa-fw fa-instagram text-inverse"></i>
                </a>
                <a href="#">
                  <i class="fa fa-3x fa-fw fa-twitter text-inverse"></i>
                </a>
                <a href="#">
                  <i class="fa fa-3x fa-fw fa-facebook text-inverse"></i>
                </a>
                <a href="#">
                  <i class="fa fa-3x fa-fw fa-github text-inverse"></i>
                </a>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 hidden-xs text-center">
                <a href="#">
                  <i class="fa fa-3x fa-fw fa-facebook text-inverse"></i>
                </a>
                <a href="#">
                  <i class="fa fa-3x fa-fw text-inverse fa-twitter"></i>
                </a>
                <a href="#">
                  <i class="fa fa-3x fa-fw hub text-inverse fa-youtube"></i>
                </a>
                <a href="#">
                  <i class="fa fa-3x fa-fw text-inverse fa-instagram"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->

    <!-- <script>
      (function(i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function() {
          (i[r].q = i[r].q || []).push(arguments)
        },
        i[r].l = 1 * new Date();
        a = s.createElement(o),
        m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
      })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

      ga('create', 'UA-87937318-1', 'auto');
      ga('send', 'pageview');
    </script> -->

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/summernote/dist/summernote.js"></script>
    <script src="bower_components/angular-summernote/dist/angular-summernote.js"></script>
    <script src="bower_components/angular-jwt/dist/angular-jwt.js"></script>
    <script src="bower_components/angular-paging/dist/paging.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <script src="vendor/API.js"></script>
    <script src="vendor/globalFlag.js"></script>
    <script src="vendor/task_user.js"></script>
    <script src="scripts/app.js"></script>
    <script src="scripts/controllers/main/main.js"></script>
    <script src="scripts/controllers/login/login.js"></script>
    <script src="scripts/controllers/signup/signup.js"></script>
    <script src="scripts/services/login/loginservice.js"></script>
    <script src="scripts/filters/contentcut.js"></script>
    <script src="scripts/controllers/movie/movie.js"></script>
    <script src="scripts/controllers/artist/artist.js"></script>
    <script src="scripts/controllers/user/user.js"></script>
    <!-- endbuild -->
  </body>
</html>
