<!-- Main -->
<div id="artistcolumns">
  <figure>
    <!-- <img src="//s3-us-west-2.amazonaws.com/s.cdpn.io/4273/cinderella.jpg"> -->
    <img src="images/01.jpg">
    <figcaption><span class="avatar"><img src="images/avatar.jpg" alt=""/></span> 고건 </figcaption>
    <span>Cinderella wearing European fashion of the mid-1860’s</span>
  </figure>

  <figure>
    <!-- <img src="//s3-us-west-2.amazonaws.com/s.cdpn.io/4273/rapunzel.jpg"> -->
    <img src="images/02.jpg">
    <figcaption><span class="avatar"><img src="images/avatar.jpg" alt=""/></span> 고건 </figcaption>
    <span>Rapunzel, clothed in 1820’s period fashion</span>
  </figure>

  <figure>
    <!-- <img src="//s3-us-west-2.amazonaws.com/s.cdpn.io/4273/rapunzel.jpg"> -->
    <img src="images/03.jpg">
    <figcaption><span class="avatar"><img src="images/avatar.jpg" alt=""/></span> 고건 </figcaption>
    <span>Belle, based on 1770’s French court fashion</span>
  </figure>

  <figure>
    <!-- <img src="//s3-us-west-2.amazonaws.com/s.cdpn.io/4273/mulan_2.jpg"> -->
    <img src="images/04.jpg">
    <figcaption><span class="avatar"><img src="images/avatar.jpg" alt=""/></span> 고건 </figcaption>
    <span>Mulan, based on the Ming Dynasty period</span>
  </figure>

  <figure>
    <!-- <img src="//s3-us-west-2.amazonaws.com/s.cdpn.io/4273/sleeping-beauty.jpg"> -->
    <img src="images/05.jpg">
    <figcaption><span class="avatar"><img src="images/avatar.jpg" alt=""/></span> 고건 </figcaption>
    <span>Sleeping Beauty, based on European fashions in 1485</span>
  </figure>

  <figure>
    <!-- <img src="//s3-us-west-2.amazonaws.com/s.cdpn.io/4273/pocahontas_2.jpg"> -->
    <img src="images/06.jpg">
    <figcaption><span class="avatar"><img src="images/avatar.jpg" alt=""/></span> 고건 </figcaption>
    <span>Pocahontas based on 17th century Powhatan costume</span>
  </figure>

  <figure>
    <!-- <img src="//s3-us-west-2.amazonaws.com/s.cdpn.io/4273/snow-white.jpg"> -->
    <img src="images/07.jpg">
    <figcaption><span class="avatar"><img src="images/avatar.jpg" alt=""/></span> 고건 </figcaption>
    <span>Snow White, based on 16th century German fashion</span>
  </figure>
</div>

</section>
