<header id="artistheader">
  <span class="avatar"><img src="images/avatar.jpg" alt=""/></span>
  <span>
    <h1>
      <strong>고 건</strong>
    </h1>
    <strong class="key">직업 :</strong>&nbsp;&nbsp;감독<br/>
    <strong class="key">출생 :</strong>&nbsp;&nbsp;1987년<br/>
    <strong class="key">작품 :</strong>&nbsp;&nbsp;카이 : 거울 호수의 전설(2016) , 서울역(2016) , 부산행(2016) ...<br/>
    <strong class="key">수상 :</strong>&nbsp;&nbsp;2016년 20회 판타지아 영화제 베스트 아시아 영화-금상 수상<br/>
  </span>
  <span>
    <ul class="icons">
      <li>
        <a href="#">
          <i class="fa fa-facebook text-inverse"></i>
        </a>
      </li>
      <li>
        <a href="#">
          <i class="fa fa-twitter text-inverse"></i>
        </a>
      </li>
      <li>
        <a href="#">
          <i class="fa fa-youtube text-inverse"></i>
        </a>
      </li>
      <li>
        <a href="#">
          <i class="fa fa-envelope-o text-inverse"></i>
        </a>
      </li>
    </ul>
  </span>

</header>

<!-- Main -->
<div id="artistcolumns">
  <figure>
    <!-- <img src="//s3-us-west-2.amazonaws.com/s.cdpn.io/4273/cinderella.jpg"> -->
    <img src="images/01.jpg">
    <figcaption class="text-center">Cinderella wearing European fashion of the mid-1860’s</figcaption>
  </figure>

  <figure>
    <!-- <img src="//s3-us-west-2.amazonaws.com/s.cdpn.io/4273/rapunzel.jpg"> -->
    <img src="images/02.jpg">
    <figcaption class="text-center">Rapunzel, clothed in 1820’s period fashion</figcaption>
  </figure>

  <figure>
    <!-- <img src="//s3-us-west-2.amazonaws.com/s.cdpn.io/4273/rapunzel.jpg"> -->
    <img src="images/03.jpg">
    <figcaption class="text-center">Belle, based on 1770’s French court fashion</figcaption>
  </figure>

  <figure>
    <!-- <img src="//s3-us-west-2.amazonaws.com/s.cdpn.io/4273/mulan_2.jpg"> -->
    <img src="images/04.jpg">
    <figcaption class="text-center">Mulan, based on the Ming Dynasty period</figcaption>
  </figure>

  <figure>
    <!-- <img src="//s3-us-west-2.amazonaws.com/s.cdpn.io/4273/sleeping-beauty.jpg"> -->
    <img src="images/05.jpg">
    <figcaption class="text-center">Sleeping Beauty, based on European fashions in 1485</figcaption>
  </figure>

  <figure>
    <!-- <img src="//s3-us-west-2.amazonaws.com/s.cdpn.io/4273/pocahontas_2.jpg"> -->
    <img src="images/06.jpg">
    <figcaption class="text-center">Pocahontas based on 17th century Powhatan costume</figcaption>
  </figure>

  <figure>
    <!-- <img src="//s3-us-west-2.amazonaws.com/s.cdpn.io/4273/snow-white.jpg"> -->
    <img src="images/07.jpg">
    <figcaption class="text-center">Snow White, based on 16th century German fashion</figcaption>
  </figure>
</div>

</section>
