<div class="container about">
  <form class="form-horizontal">
    <fieldset>
      <div class="form-group">
        <div class="col-lg-11 col-lg-offset-1">
          <legend>Post</legend>
        </div>
      </div>

      <div class="form-group">
        <label for="inputTitle" class="col-lg-1 control-label">Title</label>
        <div class="col-lg-11">
          <input type="text" ng-model="title" class="form-control" id="inputTitle" placeholder="Title">
          <br/>
          <!-- <span class="help-block">A longer block of help text that breaks onto a new line and may extend beyond one line.</span> -->
        </div>
      </div>

      <div class="form-group">
        <label for="inputTitle" class="col-lg-1 control-label">Content</label>
        <div class="col-lg-11">
          <summernote height="300" ng-model="text" on-change="change(contents)" on-image-upload="imageUpload(files)" editable="editable" editor="editor"></summernote>
        </div>
      </div>

      <div class="form-group">
        <label for="inputTags" class="col-lg-1 control-label">Tag</label>
        <div class="col-lg-11">
          <input type="text" ng-model="tags" class="form-control" id="inputTags" placeholder="java, spring">
          <br/>
        </div>
      </div>

      <div class="form-group">
        <div class="col-lg-11 col-lg-offset-1">
          <button type="submit" class="btn btn-primary" ng-click="uploadBoard()">Submit</button>
        </div>
      </div>
    </fieldset>
  </form>
</div>
