<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="http://www.youtube.com/embed/UOTOjA0ngmk" allowfullscreen=""></iframe>
                </div>
            </div>
            <div class="col-md-6">
                <h1>서울 행</h1>
                <h3>줄거리</h3>
                <p>전대미문의 재난이 대한민국을 덮친다! 정체불명의 바이러스가 전국으로 확산되고 대한민국 긴급재난경보령이 선포된 가운데, 열차에 몸을 실은 사람들은 단 하나의 안전한 도시 부산까지 살아가기 위한 치열한 사투를 벌이게 된다. 서울에서 부산까지의 거리 442KM 지키고 싶은, 지켜야만 하는 사람들의 극한의 사투!</p>
            </div>
        </div>
    </div>
</div>
<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <img src="https://unsplash.imgix.net/photo-1423347834838-5162bb452ca7?w=1024&amp;q=50&amp;fm=jpg&amp;s=c255e589621f06513c1d123c7323fe9c" class="img-responsive">
                <h2>감독 : 고건</h2>
                <p>출생 : 1987년<br>작품 :&nbsp;카이 : 거울 호수의 전설(2016) , 서울역(2016) , 부산행(2016) ...<br>수상 :&nbsp;2016년 20회 판타지아 영화제 베스트 아시아 영화-금상 수상</p>
            </div>
            <div class="col-md-3">
                <img src="https://unsplash.imgix.net/photo-1423683249427-8ca22bd873e0?w=1024&amp;q=50&amp;fm=jpg&amp;s=5e57c661d0f772ce269188a6f5325708" class="img-responsive">
                <h2>공유</h2>
                <p>출생 : 한국<br>작품 :&nbsp;도깨비(2016) , 밀정(2016) , 부산행(2016) ...<br>수상 :&nbsp;2011년 32회 청룡영화상 인기스타상 수상</p>
            </div>
            <div class="col-md-3">
                <img src="https://unsplash.imgix.net/photo-1421986527537-888d998adb74?w=1024&amp;q=50&amp;fm=jpg&amp;s=e633562a1da53293c4dc391fd41ce41d" class="img-responsive img-rounded">
                <h2>정유미</h2>
                <p>출생 : 한국<br>작품 :&nbsp;더 테이블(2016) , 부산행(2016) , 히말라야(2015)<br>수상 :&nbsp;2013년 14회 부산영화평론가협회상 여우주연상 수상</p>
            </div>
            <div class="col-md-3">
                <img src="https://unsplash.imgix.net/photo-1422222948315-28aadb7a2cb8?w=1024&amp;q=50&amp;fm=jpg&amp;s=cfeadbd7a991e58b553bee29a7eeca55" class="img-responsive">
                <h2>마동석</h2>
                <p>출생 :&nbsp;1971년 3월 1일<br>작품 :&nbsp;통 메모리즈(2016) , 원더풀 라이프 (가제)(2016) , 신과함께(2016)<br>수상 :&nbsp;2013년 49회 백상예술대상 영화 남자조연상 수상</p>
            </div>
            <div class="col-md-3">
                <img src="https://unsplash.imgix.net/reserve/QTrNn7DETWGsjyS5L2n5__MG_8345.jpg?w=1024&amp;q=50&amp;fm=jpg&amp;s=f89d9bb3940033eca06ed432a250bb6d" class="img-responsive">
                <h2>작가</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisici elit,
                    <br>sed eiusmod tempor incidunt ut labore et dolore magna aliqua.
                    <br>Ut enim ad minim veniam, quis nostrud</p>
            </div>
            <div class="col-md-3">
                <img src="https://unsplash.imgix.net/photo-1422513391413-ddd4f2ce3340?w=1024&amp;q=50&amp;fm=jpg&amp;s=282e5978de17d6cd2280888d16f06f04" class="img-responsive">
                <h2>카메라팀</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisici elit,
                    <br>sed eiusmod tempor incidunt ut labore et dolore magna aliqua.
                    <br>Ut enim ad minim veniam, quis nostrud</p>
            </div>
            <div class="col-md-3">
                <img src="https://unsplash.imgix.net/photo-1422405153578-4bd676b19036?w=1024&amp;q=50&amp;fm=jpg&amp;s=5ecc4c704ea97d85ea550f84a1499228" class="img-responsive img-rounded">
                <h2>분장팀</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisici elit,
                    <br>sed eiusmod tempor incidunt ut labore et dolore magna aliqua.
                    <br>Ut enim ad minim veniam, quis nostrud</p>
            </div>
            <div class="col-md-3">
                <img src="https://unsplash.imgix.net/photo-1422022098106-b3a9edc463af?w=1024&amp;q=50&amp;fm=jpg&amp;s=bbe0beb19ba846e0de37abd1f63acf13" class="img-responsive">
                <h2>스탭</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisici elit,
                    <br>sed eiusmod tempor incidunt ut labore et dolore magna aliqua.
                    <br>Ut enim ad minim veniam, quis nostrud</p>
            </div>
        </div>
    </div>
</div>
